academy_py==0.2.0
ase==3.25.0
Bio==1.8.0
lammps==2025.7.22.0.2
langchain==0.3.27
langchain_anthropic==0.3.18
langchain_community==0.3.27
langchain_core==0.3.72
langchain_deepseek==0.1.4
langchain_openai==0.3.28
langgraph==0.6.3
mofdb_client==0.10.0
moftransformer==2.2.0
networkx==3.2.1
numpy==2.3.2
openbabel==3.1.1.1
pandas==1.5.3
pydantic==2.11.7
pymatgen==2024.8.9
pytorch_lightning==1.7.0
PyYAML==6.0.2
PyYAML==6.0.2
rdkit==2025.3.3
rdkit_pypi==2022.9.5
scipy==1.16.1
torch==1.12.1+cu116
